.illustration-scene-plants-sam-icon {
  position: absolute;
  top: -20px;
  left: 310px;
  width: 1030px;
  height: 652px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22px;
  background-color: rgba(217, 217, 217, 0.01);
  box-shadow: 0 4px 66px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(13px);
  width: 1552px;
  height: 100px;
}
.almagram-div {
  letter-spacing: 0.01em;
  width: 199px;
  height: 44px;
  flex-shrink: 0;
}
.almagram-div,
.get-started-b {
  position: relative;
  display: inline-block;
}
.frame-div2,
.frame-div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-div3 {
  border-radius: var(--br-lg);
  background-color: #0094ff;
  width: 171.21px;
  height: 43px;
  flex-shrink: 0;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  justify-content: center;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-cabin-condensed);
}
.frame-div2 {
  position: absolute;
  top: 23px;
  left: 53px;
  justify-content: flex-start;
  gap: 1063px;
}
.frame-div1 {
  position: absolute;
  top: -29px;
  left: -53px;
  width: 1239px;
  height: 106px;
}
.back-to-where {
  margin-block-start: 0;
  margin-block-end: 0;
}
.it-began {
  margin: 0;
}
.back-to-where-it-began {
  position: relative;
  letter-spacing: -0.04em;
  white-space: pre-wrap;
  display: inline-block;
  width: 435px;
}
.llorem-ipsum-dolor-sit-amet-c {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.03em;
  color: var(--color-black);
  display: inline-block;
  width: 443px;
}
.frame-div4,
.frame-div5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div5 {
  gap: var(--gap-md);
}
.frame-div4 {
  position: absolute;
  top: 211px;
  left: 0;
  height: 347px;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-1400);
  font-family: var(--font-antic-slab);
}
.frame-div {
  position: absolute;
  top: 27px;
  left: 53px;
  width: 1343px;
  height: 763px;
}
 

.landing-div {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../../public/landing@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 45px;
  color: var(--color-black);
  font-family: var(--font-arsenal);
}
